# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('Resources/applicants_data.csv'))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = applicant_data_df.drop(columns=categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df,numerical_variables_df], axis=1)

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [17]:
# Define the the number of inputs (features) to the model
number_input_features = len(X.columns)

# Review the number of features
number_input_features

116

In [18]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [19]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [20]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [21]:
# Create the Sequential model instance
nn = Sequential()

In [22]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

In [23]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

In [24]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation='relu'))

In [25]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 936

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 977
Trainable params: 977
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [26]:
# Compile the Sequential model
nn.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [27]:
# Fit the model using 50 epochs and the training data
num_epochs = 50
model_1 = nn.fit(X_train_scaled, y_train, epochs=num_epochs)

Epoch 1/50

2023-06-18 10:09:06.868010: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

804/804 [==============================] - 4s 4ms/step - loss: 2.3484 - accuracy: 0.6001
Epoch 2/50
804/804 [==============================] - 13s 16ms/step - loss: 1.5706 - accuracy: 0.6623
Epoch 3/50
804/804 [==============================] - 4s 5ms/step - loss: 1.4155 - accuracy: 0.6716
Epoch 4/50
804/804 [==============================] - 4s 4ms/step - loss: 1.3845 - accuracy: 0.6753
Epoch 5/50
804/804 [==============================] - 3s 4ms/step - loss: 1.2673 - accuracy: 0.6811
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 1.1580 - accuracy: 0.6864
Epoch 7/50
804/804 [==============================] - 3s 4ms/step - loss: 1.0856 - accuracy: 0.6692
Epoch 8/50
804/804 [==============================] - 3s 4ms/step - loss: 0.9803 - accuracy: 0.6970
Epoch 9/50
804/804 [==============================] - 3s 4ms/step - loss: 0.9797 - accuracy: 0.6936
Epoch 10/50
804/804 [==============================] - 3s 4ms/step - loss: 0.9579 - accuracy: 0.6968
Epoch 11/50
804/804 [==============================] - 3s 4ms/step - loss: 1.0643 - accuracy: 0.6811
Epoch 12/50
804/804 [==============================] - 4s 4ms/step - loss: 1.1381 - accuracy: 0.6169
Epoch 13/50
804/804 [==============================] - 4s 5ms/step - loss: 0.7270 - accuracy: 0.6816
Epoch 14/50
804/804 [==============================] - 3s 4ms/step - loss: 0.7218 - accuracy: 0.6680
Epoch 15/50
804/804 [==============================] - 3s 4ms/step - loss: 3.6469 - accuracy: 0.5077
Epoch 16/50
804/804 [==============================] - 4s 4ms/step - loss: 1.0248 - accuracy: 0.6431
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: 0.7460 - accuracy: 0.6773
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.8725 - accuracy: 0.6866
Epoch 19/50
804/804 [==============================] - 3s 4ms/step - loss: 0.9884 - accuracy: 0.6864
Epoch 20/50
804/804 [==============================] - 3s 4ms/step - loss: 5.8206 - accuracy: 0.5094
Epoch 21/50
804/804 [==============================] - 3s 4ms/step - loss: 5.7800 - accuracy: 0.5311
Epoch 22/50
804/804 [==============================] - 3s 4ms/step - loss: 5.6559 - accuracy: 0.5379
Epoch 23/50
804/804 [==============================] - 3s 4ms/step - loss: 4.8077 - accuracy: 0.5835
Epoch 24/50
804/804 [==============================] - 3s 4ms/step - loss: 2.4828 - accuracy: 0.6890
Epoch 25/50
804/804 [==============================] - 3s 4ms/step - loss: 0.8287 - accuracy: 0.6919
Epoch 26/50
804/804 [==============================] - 3s 4ms/step - loss: 0.7254 - accuracy: 0.6909
Epoch 27/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6618 - accuracy: 0.7040
Epoch 28/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6531 - accuracy: 0.6968
Epoch 29/50
804/804 [==============================] - 3s 4ms/step - loss: 0.7029 - accuracy: 0.6917
Epoch 30/50
804/804 [==============================] - 4s 5ms/step - loss: 4.4504 - accuracy: 0.5638
Epoch 31/50
804/804 [==============================] - 3s 4ms/step - loss: 5.7624 - accuracy: 0.5397
Epoch 32/50
804/804 [==============================] - 3s 4ms/step - loss: 3.4972 - accuracy: 0.6495
Epoch 33/50
804/804 [==============================] - 3s 4ms/step - loss: 3.7407 - accuracy: 0.5932
Epoch 34/50
804/804 [==============================] - 3s 4ms/step - loss: 2.2401 - accuracy: 0.6761
Epoch 35/50
804/804 [==============================] - 3s 4ms/step - loss: 0.8040 - accuracy: 0.6716
Epoch 36/50
804/804 [==============================] - 3s 4ms/step - loss: 0.9631 - accuracy: 0.6730
Epoch 37/50
804/804 [==============================] - 3s 4ms/step - loss: 7.8494 - accuracy: 0.4086
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 9.9284 - accuracy: 0.3386
Epoch 39/50
804/804 [==============================] - 3s 4ms/step - loss: 5.3489 - accuracy: 0.5893
Epoch 40/50
804/804 [==============================] - 3s 4ms/step - loss: 4.8315 - accuracy: 0.6710
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 5.6172 - accuracy: 0.6159
Epoch 42/50
804/804 [==============================] - 3s 4ms/step - loss: 7.2078 - accuracy: 0.5082
Epoch 43/50
804/804 [==============================] - 3s 4ms/step - loss: 7.3014 - accuracy: 0.4873
Epoch 44/50
804/804 [==============================] - 3s 4ms/step - loss: 4.5749 - accuracy: 0.5749
Epoch 45/50
804/804 [==============================] - 3s 4ms/step - loss: 7.4262 - accuracy: 0.4783
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 6.3356 - accuracy: 0.5641
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 4.9564 - accuracy: 0.6726
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 4.8381 - accuracy: 0.6805
Epoch 49/50
804/804 [==============================] - 3s 4ms/step - loss: 4.8804 - accuracy: 0.6778
Epoch 50/50
804/804 [==============================] - 3s 4ms/step - loss: 5.3821 - accuracy: 0.6220

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [31]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 [==============================] - 1s 3ms/step - loss: 4.7916 - accuracy: 0.6513
Loss: 4.791581630706787, Accuracy: 0.6513119339942932

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [32]:
# Set the model's file path
file_path = Path('Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1: Added an Additional Layer

In [33]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [34]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [35]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 8

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

8

In [36]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 4

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

4

In [37]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = 4

# Review the number of hidden nodes in the third layer
hidden_nodes_layer3_A1

4

In [38]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [39]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation='relu'))

# Third hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer3_A1, activation='relu'))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation='relu'))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 936

 dense_4 (Dense)             (None, 4)                 36

 dense_5 (Dense)             (None, 4)                 20

 dense_6 (Dense)             (None, 1)                 5

=================================================================
Total params: 997
Trainable params: 997
Non-trainable params: 0
_________________________________________________________________

In [41]:
# Compile the Sequential model
nn_A1.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [43]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=num_epochs)

Epoch 1/50
804/804 [==============================] - 4s 4ms/step - loss: 4.5044 - accuracy: 0.4901
Epoch 2/50
804/804 [==============================] - 4s 5ms/step - loss: 1.8019 - accuracy: 0.5449
Epoch 3/50
804/804 [==============================] - 4s 5ms/step - loss: 1.2896 - accuracy: 0.5807
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 1.1856 - accuracy: 0.5902
Epoch 5/50
804/804 [==============================] - 4s 4ms/step - loss: 1.1745 - accuracy: 0.6544
Epoch 6/50
804/804 [==============================] - 4s 4ms/step - loss: 1.2082 - accuracy: 0.6484
Epoch 7/50
804/804 [==============================] - 4s 4ms/step - loss: 1.0419 - accuracy: 0.6718
Epoch 8/50
804/804 [==============================] - 4s 4ms/step - loss: 0.9894 - accuracy: 0.6684
Epoch 9/50
804/804 [==============================] - 4s 4ms/step - loss: 0.9152 - accuracy: 0.6447
Epoch 10/50
804/804 [==============================] - 4s 4ms/step - loss: 0.8898 - accuracy: 0.6277
Epoch 11/50
804/804 [==============================] - 4s 5ms/step - loss: 0.7735 - accuracy: 0.6008
Epoch 12/50
804/804 [==============================] - 4s 5ms/step - loss: 0.7880 - accuracy: 0.5629
Epoch 13/50
804/804 [==============================] - 4s 5ms/step - loss: 0.7274 - accuracy: 0.6235
Epoch 14/50
804/804 [==============================] - 4s 5ms/step - loss: 1.9341 - accuracy: 0.6473
Epoch 15/50
804/804 [==============================] - 4s 5ms/step - loss: 1.8839 - accuracy: 0.6424
Epoch 16/50
804/804 [==============================] - 4s 5ms/step - loss: 0.7948 - accuracy: 0.6752
Epoch 17/50
804/804 [==============================] - 4s 4ms/step - loss: 0.8341 - accuracy: 0.6840
Epoch 18/50
804/804 [==============================] - 4s 4ms/step - loss: 2.0477 - accuracy: 0.6258
Epoch 19/50
804/804 [==============================] - 4s 4ms/step - loss: 0.7030 - accuracy: 0.6912
Epoch 20/50
804/804 [==============================] - 4s 4ms/step - loss: 3.0263 - accuracy: 0.6341
Epoch 21/50
804/804 [==============================] - 4s 4ms/step - loss: 4.5322 - accuracy: 0.6104
Epoch 22/50
804/804 [==============================] - 4s 5ms/step - loss: 3.8803 - accuracy: 0.6160
Epoch 23/50
804/804 [==============================] - 4s 5ms/step - loss: 4.5951 - accuracy: 0.5368
Epoch 24/50
804/804 [==============================] - 4s 5ms/step - loss: 3.5908 - accuracy: 0.6171
Epoch 25/50
804/804 [==============================] - 4s 5ms/step - loss: 2.2447 - accuracy: 0.6586
Epoch 26/50
804/804 [==============================] - 4s 4ms/step - loss: 3.7114 - accuracy: 0.6272
Epoch 27/50
804/804 [==============================] - 4s 4ms/step - loss: 5.4682 - accuracy: 0.5178
Epoch 28/50
804/804 [==============================] - 4s 4ms/step - loss: 5.4135 - accuracy: 0.5719
Epoch 29/50
804/804 [==============================] - 4s 5ms/step - loss: 5.0791 - accuracy: 0.6339
Epoch 30/50
804/804 [==============================] - 4s 5ms/step - loss: 5.0732 - accuracy: 0.6335
Epoch 31/50
804/804 [==============================] - 4s 5ms/step - loss: 5.0549 - accuracy: 0.6344
Epoch 32/50
804/804 [==============================] - 4s 5ms/step - loss: 5.0462 - accuracy: 0.6427
Epoch 33/50
804/804 [==============================] - 4s 4ms/step - loss: 5.0422 - accuracy: 0.6426
Epoch 34/50
804/804 [==============================] - 4s 4ms/step - loss: 4.9610 - accuracy: 0.6385
Epoch 35/50
804/804 [==============================] - 4s 5ms/step - loss: 4.8684 - accuracy: 0.6444
Epoch 36/50
804/804 [==============================] - 4s 5ms/step - loss: 4.8849 - accuracy: 0.6499
Epoch 37/50
804/804 [==============================] - 4s 4ms/step - loss: 5.1434 - accuracy: 0.6433
Epoch 38/50
804/804 [==============================] - 4s 4ms/step - loss: 5.2880 - accuracy: 0.6279
Epoch 39/50
804/804 [==============================] - 4s 5ms/step - loss: 5.0305 - accuracy: 0.6516
Epoch 40/50
804/804 [==============================] - 4s 4ms/step - loss: 5.0274 - accuracy: 0.6520
Epoch 41/50
804/804 [==============================] - 4s 4ms/step - loss: 5.1593 - accuracy: 0.6521
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 5.2340 - accuracy: 0.6441
Epoch 43/50
804/804 [==============================] - 4s 5ms/step - loss: 5.7682 - accuracy: 0.6171
Epoch 44/50
804/804 [==============================] - 4s 4ms/step - loss: 5.7669 - accuracy: 0.6153
Epoch 45/50
804/804 [==============================] - 4s 4ms/step - loss: 5.7655 - accuracy: 0.6153
Epoch 46/50
804/804 [==============================] - 4s 4ms/step - loss: 5.7396 - accuracy: 0.6147
Epoch 47/50
804/804 [==============================] - 4s 4ms/step - loss: 5.1738 - accuracy: 0.6347
Epoch 48/50
804/804 [==============================] - 4s 4ms/step - loss: 4.8486 - accuracy: 0.6312
Epoch 49/50
804/804 [==============================] - 4s 5ms/step - loss: 5.6677 - accuracy: 0.5335
Epoch 50/50
804/804 [==============================] - 4s 4ms/step - loss: 3.3156 - accuracy: 0.6247

### Alternative Model 2: Added More Neurons in Layers 1 to 3 and Double the Epochs

In [44]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [45]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [46]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 10

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

10

In [47]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = 8

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

8

In [48]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A2 = 6

# Review the number of hidden nodes in the third layer
hidden_nodes_layer3_A2

6

In [49]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [50]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation='relu'))

# Third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation='relu'))


# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation='relu'))


# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 10)                1170

 dense_8 (Dense)             (None, 8)                 88

 dense_9 (Dense)             (None, 6)                 54

 dense_10 (Dense)            (None, 1)                 7

=================================================================
Total params: 1,319
Trainable params: 1,319
Non-trainable params: 0
_________________________________________________________________

In [51]:
# Compile the model
nn_A2.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [52]:
# Fit the model
num_epochs_A2 = 100
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=num_epochs_A2)

Epoch 1/100
804/804 [==============================] - 5s 5ms/step - loss: 1.6793 - accuracy: 0.6571
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 1.2254 - accuracy: 0.6029
Epoch 3/100
804/804 [==============================] - 4s 5ms/step - loss: 1.1653 - accuracy: 0.6611
Epoch 4/100
804/804 [==============================] - 4s 5ms/step - loss: 1.1480 - accuracy: 0.6904
Epoch 5/100
804/804 [==============================] - 4s 4ms/step - loss: 1.1614 - accuracy: 0.6816
Epoch 6/100
804/804 [==============================] - 4s 4ms/step - loss: 1.1666 - accuracy: 0.6827
Epoch 7/100
804/804 [==============================] - 4s 4ms/step - loss: 1.5125 - accuracy: 0.6668
Epoch 8/100
804/804 [==============================] - 4s 4ms/step - loss: 1.9533 - accuracy: 0.6286
Epoch 9/100
804/804 [==============================] - 4s 5ms/step - loss: 4.1519 - accuracy: 0.6265
Epoch 10/100
804/804 [==============================] - 4s 5ms/step - loss: 3.8450 - accuracy: 0.5515
Epoch 11/100
804/804 [==============================] - 4s 5ms/step - loss: 7.7864 - accuracy: 0.4754
Epoch 12/100
804/804 [==============================] - 4s 5ms/step - loss: 7.9109 - accuracy: 0.4780
Epoch 13/100
804/804 [==============================] - 4s 4ms/step - loss: 7.3523 - accuracy: 0.4968
Epoch 14/100
804/804 [==============================] - 4s 4ms/step - loss: 2.1385 - accuracy: 0.6430
Epoch 15/100
804/804 [==============================] - 4s 5ms/step - loss: 1.8465 - accuracy: 0.6477
Epoch 16/100
804/804 [==============================] - 4s 5ms/step - loss: 2.5837 - accuracy: 0.6437
Epoch 17/100
804/804 [==============================] - 4s 5ms/step - loss: 3.4371 - accuracy: 0.6261
Epoch 18/100
804/804 [==============================] - 4s 5ms/step - loss: 4.8727 - accuracy: 0.6357
Epoch 19/100
804/804 [==============================] - 4s 5ms/step - loss: 5.0924 - accuracy: 0.6503
Epoch 20/100
804/804 [==============================] - 4s 5ms/step - loss: 5.0890 - accuracy: 0.6532
Epoch 21/100
804/804 [==============================] - 4s 5ms/step - loss: 5.0932 - accuracy: 0.6532
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 5.0757 - accuracy: 0.6557
Epoch 23/100
804/804 [==============================] - 4s 4ms/step - loss: 5.0720 - accuracy: 0.6559
Epoch 24/100
804/804 [==============================] - 4s 5ms/step - loss: 4.9533 - accuracy: 0.6528
Epoch 25/100
804/804 [==============================] - 4s 5ms/step - loss: 4.9761 - accuracy: 0.6558
Epoch 26/100
804/804 [==============================] - 4s 5ms/step - loss: 5.1898 - accuracy: 0.6600
Epoch 27/100
804/804 [==============================] - 4s 5ms/step - loss: 5.1884 - accuracy: 0.6602
Epoch 28/100
804/804 [==============================] - 4s 4ms/step - loss: 5.1748 - accuracy: 0.6611
Epoch 29/100
804/804 [==============================] - 4s 5ms/step - loss: 5.1367 - accuracy: 0.6596
Epoch 30/100
804/804 [==============================] - 4s 5ms/step - loss: 5.3580 - accuracy: 0.6108
Epoch 31/100
804/804 [==============================] - 4s 5ms/step - loss: 5.3552 - accuracy: 0.6129
Epoch 32/100
804/804 [==============================] - 4s 5ms/step - loss: 5.4922 - accuracy: 0.6296
Epoch 33/100
804/804 [==============================] - 4s 4ms/step - loss: 5.5326 - accuracy: 0.6387
Epoch 34/100
804/804 [==============================] - 4s 4ms/step - loss: 5.5327 - accuracy: 0.6387
Epoch 35/100
804/804 [==============================] - 4s 4ms/step - loss: 5.5389 - accuracy: 0.6381
Epoch 36/100
804/804 [==============================] - 4s 5ms/step - loss: 5.5345 - accuracy: 0.6379
Epoch 37/100
804/804 [==============================] - 4s 5ms/step - loss: 5.5307 - accuracy: 0.6386
Epoch 38/100
804/804 [==============================] - 4s 5ms/step - loss: 5.2615 - accuracy: 0.6555
Epoch 39/100
804/804 [==============================] - 4s 5ms/step - loss: 5.1826 - accuracy: 0.6610
Epoch 40/100
804/804 [==============================] - 4s 4ms/step - loss: 5.1685 - accuracy: 0.6608
Epoch 41/100
804/804 [==============================] - 4s 5ms/step - loss: 5.1977 - accuracy: 0.6612
Epoch 42/100
804/804 [==============================] - 4s 4ms/step - loss: 5.9366 - accuracy: 0.5801
Epoch 43/100
804/804 [==============================] - 4s 5ms/step - loss: 8.3620 - accuracy: 0.4268
Epoch 44/100
804/804 [==============================] - 4s 5ms/step - loss: 9.5903 - accuracy: 0.3699
Epoch 45/100
804/804 [==============================] - 4s 5ms/step - loss: 9.6686 - accuracy: 0.3690
Epoch 46/100
804/804 [==============================] - 4s 4ms/step - loss: 8.0688 - accuracy: 0.4584
Epoch 47/100
804/804 [==============================] - 4s 5ms/step - loss: 5.1927 - accuracy: 0.6448
Epoch 48/100
804/804 [==============================] - 4s 4ms/step - loss: 5.1456 - accuracy: 0.6597
Epoch 49/100
804/804 [==============================] - 4s 4ms/step - loss: 5.1550 - accuracy: 0.6599
Epoch 50/100
804/804 [==============================] - 4s 4ms/step - loss: 5.1096 - accuracy: 0.6570
Epoch 51/100
804/804 [==============================] - 4s 5ms/step - loss: 5.3565 - accuracy: 0.6326
Epoch 52/100
804/804 [==============================] - 4s 4ms/step - loss: 5.2114 - accuracy: 0.6475
Epoch 53/100
804/804 [==============================] - 4s 4ms/step - loss: 6.5858 - accuracy: 0.5655
Epoch 54/100
804/804 [==============================] - 4s 5ms/step - loss: 7.5951 - accuracy: 0.5034
Epoch 55/100
804/804 [==============================] - 4s 5ms/step - loss: 6.8923 - accuracy: 0.5434
Epoch 56/100
804/804 [==============================] - 4s 5ms/step - loss: 5.4797 - accuracy: 0.6297
Epoch 57/100
804/804 [==============================] - 4s 4ms/step - loss: 5.7700 - accuracy: 0.6199
Epoch 58/100
804/804 [==============================] - 4s 5ms/step - loss: 5.1523 - accuracy: 0.6486
Epoch 59/100
804/804 [==============================] - 4s 4ms/step - loss: 5.2775 - accuracy: 0.6429
Epoch 60/100
804/804 [==============================] - 4s 5ms/step - loss: 5.5423 - accuracy: 0.6363
Epoch 61/100
804/804 [==============================] - 4s 5ms/step - loss: 5.1678 - accuracy: 0.6569
Epoch 62/100
804/804 [==============================] - 4s 5ms/step - loss: 5.6260 - accuracy: 0.6244
Epoch 63/100
804/804 [==============================] - 4s 4ms/step - loss: 5.7977 - accuracy: 0.6088
Epoch 64/100
804/804 [==============================] - 4s 5ms/step - loss: 5.9068 - accuracy: 0.6066
Epoch 65/100
804/804 [==============================] - 4s 4ms/step - loss: 6.0009 - accuracy: 0.6057
Epoch 66/100
804/804 [==============================] - 4s 4ms/step - loss: 5.9998 - accuracy: 0.6060
Epoch 67/100
804/804 [==============================] - 4s 4ms/step - loss: 5.9472 - accuracy: 0.6092
Epoch 68/100
804/804 [==============================] - 4s 5ms/step - loss: 7.6371 - accuracy: 0.5029
Epoch 69/100
804/804 [==============================] - 4s 5ms/step - loss: 7.5469 - accuracy: 0.5041
Epoch 70/100
804/804 [==============================] - 4s 5ms/step - loss: 7.5947 - accuracy: 0.5024
Epoch 71/100
804/804 [==============================] - 4s 5ms/step - loss: 7.5690 - accuracy: 0.5031
Epoch 72/100
804/804 [==============================] - 4s 5ms/step - loss: 7.5932 - accuracy: 0.5033
Epoch 73/100
804/804 [==============================] - 4s 5ms/step - loss: 7.6005 - accuracy: 0.5037
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 7.9287 - accuracy: 0.4839
Epoch 75/100
804/804 [==============================] - 4s 5ms/step - loss: 8.3529 - accuracy: 0.4561
Epoch 76/100
804/804 [==============================] - 4s 5ms/step - loss: 8.3572 - accuracy: 0.4563
Epoch 77/100
804/804 [==============================] - 4s 5ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 78/100
804/804 [==============================] - 4s 5ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 79/100
804/804 [==============================] - 4s 5ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 80/100
804/804 [==============================] - 4s 5ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 81/100

804/804 [==============================] - 4s 5ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 82/100
804/804 [==============================] - 4s 5ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 83/100
804/804 [==============================] - 4s 4ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 84/100
804/804 [==============================] - 4s 4ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 85/100
804/804 [==============================] - 4s 5ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 86/100
804/804 [==============================] - 4s 4ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 87/100
804/804 [==============================] - 4s 4ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 88/100
804/804 [==============================] - 4s 4ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 89/100
804/804 [==============================] - 4s 4ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 90/100
804/804 [==============================] - 4s 5ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 91/100
804/804 [==============================] - 4s 5ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 92/100
804/804 [==============================] - 4s 4ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 93/100
804/804 [==============================] - 4s 4ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 94/100
804/804 [==============================] - 4s 4ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 95/100
804/804 [==============================] - 4s 4ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 96/100
804/804 [==============================] - 4s 4ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 97/100
804/804 [==============================] - 4s 4ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 98/100
804/804 [==============================] - 4s 4ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 99/100
804/804 [==============================] - 4s 4ms/step - loss: 8.3626 - accuracy: 0.4560
Epoch 100/100
804/804 [==============================] - 4s 4ms/step - loss: 8.3626 - accuracy: 0.4560

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [53]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 1s 3ms/step - loss: 4.7916 - accuracy: 0.6513
Loss: 4.791581630706787, Accuracy: 0.6513119339942932

In [54]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 1s 3ms/step - loss: 3.4214 - accuracy: 0.5992
Loss: 3.421417713165283, Accuracy: 0.5991836786270142

In [55]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 [==============================] - 1s 3ms/step - loss: 8.4080 - accuracy: 0.4529
Loss: 8.408007621765137, Accuracy: 0.4529446065425873

### Step 3: Save each of your alternative models as an HDF5 file.

In [56]:
# Set the file path for the first alternative model
file_path_A1 = Path('Resources/AlphabetSoup_A1.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path_A1)

In [57]:
# Set the file path for the second alternative model
file_path_A2 = Path('Resources/AlphabetSoup_A2.h5')

# Export your model to a HDF5 file
nn_A2.save(file_path_A2)